*{
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    margin: 0;
}

header h1{
    font-size: 90px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-align: center;

}
h2{
    font-family: 'Courier New', Courier, monospace;
}
.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
    font-size: 20px;
}
.AboutUs{
    float: left;
    width: 45%;
    margin: 0;
    font-size: 20px;
    height: auto;
}
div .gallery{
    margin: 0;
    padding: 0;
    border: 1px;
    border-color: brown;
    border-style: solid;
    float: left;
    width: 33.33%;
}
.gallery p{
    font-size: 20px;
}
img{
    opacity: 0.7;
    display: block;
    float: left;
}
img:hover{
    opacity: 1.0;
    border: 1px;
    border-color: darkred;
}
div .gallery img{
    width: 100%;
    height: auto;
}
